h1 {
    position: absolute;
    top: 0%;
    left: 40%;
    color: white;
    font-family: 'Segoe UI';
    font-size: 300%;
}
body {
    background-image: url("images/toolsbackground.jpeg");
}
.assignment .ProblemImage {
    top: 15%;
    left: 10%;
    position: absolute;
    width: 600px;  
    height: auto;   
}
h2 {
    top: 65%;
    left: 10%;
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 200%;
}
.assignment .AffinityImage {
    top: 15%;
    left: 40%;
    position: absolute;
    width: 600px;  
    height: auto;   
}
h3 {
    top: 65%;
    left: 40%;
    position: absolute;
    color: white;
    font-family: 'Segoe UI';
    font-size: 200%;
}